NEXT_PUBLIC_BUSINESS_NAME="ZZL Electrical Ltd"
NEXT_PUBLIC_PHONE="022 307 2796"
NEXT_PUBLIC_EMAIL="lhl630221@gmail.com"
NEXT_PUBLIC_SERVICE_AREA="Auckland"
NEXT_PUBLIC_SITE_URL="https://www.example.co.nz"
NEXT_PUBLIC_GA_ID=""
NEXT_PUBLIC_GOOGLE_ADS_ID="AW-18081238618"
NEXT_PUBLIC_GOOGLE_ADS_CONVERSION_LABEL="eZM0CL6Oh7gcENqc561D"
